.cuerpo{

    background-color: rgb(233, 200, 92);
    background-position: center;
    place-items:inherit;
    align-items: center;
    text-align: center;
    transform: translate(0%, +80%);
}

.titulo{

    font-size: 95px;
}

.palabra{

    align-items: center;
}

.intentos{

    font-size: 50px;

}

.campo{

    align-items: center;

}

.textoTitulo{

    color: bisque;
}

.textoIntento{

    color: bisque;
}

.textoBoton{

    color: rgb(235, 235, 235);
}

.textoBoton:hover{

    color: blanchedalmond;
}

.input{

    background-color: rgb(255, 254, 254);
    border-color: rgb(255, 254, 254);
    border: none;
    width: 100px;
    height: 25px;
}

input:hover{

    border-color: rgb(255, 254, 254);
}

.boton{

    font-size: 30px;
    background-color: rgb(223, 185, 60);
    border-color: rgb(233, 200, 92);
    
}

.boton:hover{

    background-color: rgb(194, 128, 30);
    
}
