.cuerpo{

    background-color: rgb(233, 200, 92);
    background-position: center;
    place-items:inherit;
    align-items: center;
    text-align: center;
    transform: translate(0%, +80%);
}

.titulo{

    font-size: 95px;
}

.palabra{

    align-items: center;
}

.intentos{

    font-size: 50px;

}

.campo{

    align-items: center;

}

.input{

    background-color: rgb(167, 167, 167);
    size: 120px;
}

.boton{

    font-size: 30px;
    background-color: rgb(223, 185, 60);
    border-color: rgb(233, 200, 92);
}

.boton:hover{

    background-color: rgb(194, 128, 30);
    
}
